body{
	font-family: Poppins;
}
.todoapp { 
	text-align: center;
	margin-top: 50px;
	font-family: Poppins;
} /* styling for the entire app */

/* h1 styling */
h1 {
	text-align: center;
	font-family: Poppins;
}

/* remove button */
.remove {
	cursor: pointer;
	font-family: Poppins;
}

/* input to add */
input[type=text] {
	width: 250px;
	height: 28px;
	border: 1px solid grey;
	padding: 2px;
	font-family: Poppins;
}
/* when foused */
input[type=text]:focus {
	outline: none;
	border: 1px solid blue;
	font-family: Poppins;
}

/* submit button */
input[type=submit] {
	padding: 9px 10px;
	outline: none;
	transition: 0.2s;
	opacity: 1;
	background-color: rgb(0, 255, 115);
	border: none;
	color: white;
	transition: 1;
	font-family: Poppins;
} 
/* when hovered */
input[type=submit]:hover {
	background-color: rgb(0, 255, 0);
	font-family: Poppins;
}

/* nav bar */
#menu-bar{
  background: rgb(97, 255, 97);
  color: #fff;
	margin-top: -49px;
	font-family: Poppins;
}

/* heading of the navbar */
#menu-bar h1{
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
	padding: 5px;
	color: rgb(26, 83, 0);
	margin-left: -500px;
	font-family: Poppins;
}

/* ul list of the navbar */
#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 5px;
	margin-left: 10px;
  margin: 6px 0;
	font-family: Poppins;
}

/* li of the navbar */
#menu-bar li{
  float: right;
  margin-left: 150px;
	margin-top: 5px;
	font-family: Poppins;
}

/* number of items styling */
.numberOfItems h4{
	background-color: yellow;
	color: black;
	float: right;
	padding: 10px;
	margin-top: -40px;
	margin-left: -100px;
	font-family: Poppins;
}
